*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%
}

body {
    background-image: url(./img/big.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
}

.form-login {
    display: grid;
    grid-template-columns: 4fr 6fr;
    width: 60%;
    margin-left: 20%;
    align-items: center;
}

.title-form {
    text-align: center;
    padding: 20px 0;
}

.user input {
    border: 2px solid #017BFC;
    border-radius: 25px;
    width: 100%;
    height: 40px;
    padding: 10px;
}
.user {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0px 45px;
}
.password input {
    border: 2px solid #017BFC;
    border-radius: 25px;
    width: 100%;
    height: 40px;
    padding: 10px;
}
.password {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0px 45px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.left-form{
}

.right-form {
    background: rgb(0, 0, 0, 0.3);
    border-radius: 0px 15px 15px 0px;
}

i.fa-solid.fa-user {
    top: 12px;
    position: absolute;
    right: 60px;
}
i.fa-solid.fa-key {
    top: 24px;
    position: absolute;
    right: 60px;
}

.submit {
    display: flex;
    justify-content: center;
    padding: 0px 45px;
    padding-bottom: 20px;
}

.dangnhap {
    border: 2px solid #0000FE;
    border-radius: 25px;
    width: 100%;
    height: 40px;
    background: #0000FE;
    color: white;
}

.Un-pass {
    display: flex;
    justify-content: center;
}

h4{
    color: #228AFC;
}

.button-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 85%;
    margin-left: 7.5%;
    padding-bottom: 20px;
    border-bottom: 2px solid #B1b1b1;
}
.button-0 {
    display: grid;
    justify-content: center;
}

.button-1 {
    display: grid;
    justify-content: center;
}

.button-2 {
    display: grid;
    justify-content: center;
}
.facebook {
    border: 2px solid #4867A4;
    border-radius: 5px;
    background: #4867A4;
    height: 40px;
    width: 107px;
    color: white;
}

.Google {
    border: 2px solid #D94234;
    border-radius: 5px;
    background: #D94234;
    height: 40px;
    width: 107px;
    color: white;
}

.Twitter {
    border: 2px solid #30CEFD;
    border-radius: 5px;
    background: #30CEFD;
    height: 40px;
    width: 107px;
    color: white;
}

.end-form {
    padding: 10px 0 20px 0;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.res{
    font-weight: 900;
    color: #007DFC;
}
.picture-form {
    height: 349px;
}
.boder-img {
    border-radius: 15px 0px 0px 15px;
}