* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    /* nhớ xét chiều rộng nó mới thuộc vào 2 bên */
    width: 80%;
    margin-left: 120px;
    align-items: center;
    margin-top: 20px;

}

.img {
    margin-right: 50%;
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-left: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
}


.para {
    margin-top: 100px;
    text-align: center;
}

.para1 {
    text-align: center;
}

.Title {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}


.Title1 {
    margin-left: 28px;
}

.logo1 {
    width: 60%;
    height: 10%;
}

img {
    max-width: 50%;
    /* margin-top: 40px; */
}


.thep {
    width: 30%;
    margin-left: 35%;
    text-align: justify;
}
/* p {
    text-align: justify;
    margin-left: 443px;
    margin-right: 433px;
    margin-top: 20px;
} */

/* p.para2 {
    margin-top: -1px;
}
 */

/* .button {
    background-color: #ffffff;
    border-radius: 25px;
    margin-left: 43%;
    width: 164px;
    height: 40px;
    border: 2px solid #ffffff;
    border: 2px solid rgb(235, 235, 235);
    margin-top: 18px;

} */

header {
    text-align: center;
}


.button1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


button.button {
    border-radius: 26px;
    background-color: #fff;
    padding: 15px 26px;
}


.footer {
    display: flex;
    /* background-color: blue; */
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
    justify-content: space-between;
}


.pic {
    display: flex;
    justify-content: center;
}

.pic1 {
    display: flex;
    justify-content: center;
}

.footer10{
    background-color: #FAFAFA;
    margin-top: 38px;
    padding-bottom: 40px;
}